.containerLogin {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
} 


.messageLogin {
    position: relative;
    width: 40%;
    background-color: #E37447;
    background-image: url(https://img.freepik.com/foto-gratis/cita-inspirada-escrita-taza_23-2149261735.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.messageLogin::after {
    content: "";
    position: absolute; /* Lo posicionamos de manera absoluta dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65); /* Fondo semi-transparente */
}

.messageLogin h1 {
    border: none;
    font-size: 30px;
    margin: 0;
    position: relative;
    z-index: 1;
    color: #E37447;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.messageLogin p {
    margin: 0;
    font-size: 15px;
    position: relative;
    z-index: 1;
    color: #E37447;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.containerFormLogin {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
}


.formLogin {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.formLogin input {
    height: 40px;
    width: 100% ;
    background-color: #E4E2DD;
    color: #060709;
    outline: none;
}

.formLogin input:focus {
    border: 2px solid #DF5725;
}

.formLogin input:focus::placeholder {
    color: #DF5725;
}

.formLogin input::placeholder {
    color: #060709;
    font-weight: 500;
}

.buttonLogin {
    width: 100%;
    border-radius: 50px;
    background-color: #E37447;
    font-weight: 600;
    letter-spacing: 2px;
}

.buttonLogin:hover {
    background-color: #DF5725;
}

.noAccount {
    margin:0;
}