.input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;


}

.input input{
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #E37447;
    border: solid 1px #E4E2DD;
}

.input input::placeholder{
    color: #E4E2DD;
}
.input textarea::placeholder{
    color: #E4E2DD;
}


textarea{
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #E37447;
    border: solid 1px #E4E2DD;
}
.agradecimientocontactocontenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.trabajamosjuntos{
    color: #E4E2DD;
    width: 300px;

}
.contact{
    width: 60%;
    height: 730px;
    background-color: none;
text-align: center;
border-radius: 30px;
padding: 20px;
box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.5);
overflow: hidden;
border: solid 1px #E4E2DD;
background-color: rgba(46, 46, 46, 0.5);
        backdrop-filter: blur(5px);
}

.agradecimientocontacto{
    text-align: center;
    width: 800px;
    padding-bottom: 30px;
    text-align: justify;
    font-weight: 500;
    color: #E4E2DD;
    font-size: 15px;

}

.contactcontainer{

    display: flex;

    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botonenviar{
   margin-bottom: 150px;
   width: 150px;
   background-color: #E4E2DD;
   border: 1px solid #E4E2DD;
   transition: background-color 0.9s ease;
   color: black;
   font-size: 20px;
   font-weight: 800;
}

.botonenviar:hover{
    background-color: #E37447;
    color: white;
    
}
