.input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 30px;


}

input{
    width: 500px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #E37447;
    border: solid 2px #060709;
}

input::placeholder{
    color: #E4E2DD;
}
textarea::placeholder{
    color: #E4E2DD;
}


textarea{
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #E37447;
    border: solid 2px #060709;
}
.agradecimientocontactocontenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.trabajamosjuntos{
    color: #060709;
    width: 400px;

}
.contact{
    width: 40%;
    height: 950px;
    background-color: #E4E2DD;
text-align: center;
border-radius: 30px;
padding: 20px;
box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.5);

}

.agradecimientocontacto{
    text-align: center;
    width: 500px;
    padding-bottom: 30px;
    text-align: justify;
    font-weight: 500;
    color: #060709;
    font-size: 15px;

}

.contactcontainer{

    display: flex;

    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botonenviar{
   margin-bottom: 150px;
   background-color: #E4E2DD;
   border: solid 2px #060709;
   transition: background-color 0.9s ease;
   
}

.botonenviar:hover{
    background-color: #E37447;
    color: white;
    
}
