.containerTitleUser {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTitleUser h1 {
    border: none;
    padding: 0;
    margin: 0;
  }

  .tableHead tr th{
    background-color: #E37447  !important;
    border: none;
    color: #E4E2DD;
  }