.containerCart {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

.cart-table {
    border: 1px solid #9CA69F;
    width: 80%;
}

.cart-table  thead {
    border-bottom: 1px solid #9CA69F;
    color: black;
    background-color: #E37447;
}




.product {
    border-bottom: 1px solid #9CA69F;
    color: black;
    height: 85px;
}

.containerImageProduct {
    width: 15%;
    
}

.imageProduct {
    margin-left: 15px;
    height: 70px;
}

.quantityTh {
    width: 15%;
}

.quantityTd {

    display: flex;
    height:85px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quantityTd p {
    margin: 0;
}

.containerButtonClear {
    width: 20%;
}

.buttonClearCart {
    margin-top: 5px;
    margin-bottom: 5px;
}

.containerTotalCart {
    display: flex;
    justify-content: right;
    width: 80%;
}

.totalCart {
    border: 1px solid #9CA69F;
    width: 40%;
    min-height: 340px;
    height: fit-content;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.totalCart p {
    margin: 0;
}

.containerTitleTotalCart {
    background-color: #E37447;
    border-bottom: 1px solid #9CA69F;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.total {
    border-bottom: 1px solid #9CA69F;
    display: flex;
    padding: 5px;
    width: 80%;
    justify-content: space-between;
    gap: 30px;
}

.containerButtonBuy {
    padding-top:20px;
    width: 100%;
    
}

.containerButtonBuy button {
    width: 90%;
}

.dropDownCart  {
    width: 80% !important;
    box-sizing: border-box;
}

.dropDownCart button{
    border: 1px solid black;
    background-color: #E37447;
    width: 100% !important;
}
