.containerCart {
    width: 100%;

}

.containerCartWithProducts {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}



.deleteProductCart {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.buttonQuantity {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E2DD;
    color: black;
    font-weight: 700;
}

.cart-table {
    border: 1px solid #9CA69F;
    width: 80%;
}

.cart-table  thead {
    border-bottom: 1px solid #9CA69F;
    color: #E4E2DD;
    background-color: #E37447;
}

.cart-table tbody tr{
        background-color: rgba(27, 27, 27, 0.5);
        backdrop-filter: blur(3px);
}

.product {
    border-bottom: 1px solid #9CA69F;
    color: #E4E2DD;
    font-weight: 500;
    height: 85px;
}

.containerImageProduct {
    width: 15%;
    
}

.imageProduct {
    margin-left: 15px;
    height: 70px;
}

.quantityTh {
    width: 15%;
}

.quantityTd {

    display: flex;
    height:85px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quantityTd p {
    margin: 0;
}

.containerButtonClear {
    width: 20%;
}

.buttonClearCart {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #E4E2DD;
    color: black;
    font-weight: 700;
}

.containerTotalCart {
    display: flex;
    justify-content: right;
    width: 80%;
}

.totalCart {
    border: 1px solid #9CA69F;
    width: 40%;
    min-height: 300px;
    height: fit-content;
    color: #E4E2DD;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    background-color: rgba(27, 27, 27, 0.5);
    backdrop-filter: blur(3px);
}

.totalCart p {
    margin: 0;
}

.containerTitleTotalCart {
    background-color: #E37447;
    border-bottom: 1px solid #9CA69F;
    color: #E4E2DD;
    font-weight: 700 !important;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    padding-left: 9px;
    margin-bottom: 5px;
    width: 100%;
}

.total {
    border-bottom: 1px solid #9CA69F;
    display: flex;
    padding: 5px;
    width: 80%;
    justify-content: space-between;
    gap: 30px;
    font-weight: 500;
}

.containerButtonBuy {
    padding-top:20px;
    width: 100%;
    
}

.containerButtonBuy button {
    width: 90%;
    background-color: #E4E2DD;
    color: black;
    font-weight: 700;
}

.dropDownCart  {
    width: 80% !important;
    box-sizing: border-box;
}

.dropDownCart button{
    border: 1px solid black !important;
    background-color: #E37447 !important;
    width: 100% !important;
    color: #E4E2DD;
}


.dropDownCart button:hover{
    border: 1px solid black;
    background-color: #E37447;
    width: 100% !important;
}

.dropDownCart button:focus{
    border: 1px solid black;
    background-color: #E37447;
    width: 100% !important;
}

.containerEmptyCart {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart {
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px 17px rgba(105, 105, 105, 0.5);
    border-radius: 30px;
    color: #060709;
    background-color: #E4E2DD;
}

.empty-cart button {
    background-color: #E37447;
    width: 300px;
    letter-spacing: 2px;
}

.empty-cart button:hover {
    background-color: #060709;
}

@keyframes fadeOpacity {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

.empty-cart-title {
    font-size: 35px;
    font-weight: 500;
    animation: fadeOpacity 2s infinite;
}

.empty-cart-info {
    font-size: 30px;
}