.containerTitleUser {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tdButtonContainer {
    text-align: center;
}

.buttonDeleteUser {
    width: 70%;
    height: 30px;
    padding: 0;
    background-color: rgb(151, 5, 5);
}

.buttonDeleteUser:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}
